<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= album.images.first["url"] %>)">
  <%= link_to album.name.truncate(20), album_path(album.id) %>
  <small><% album.artists.join(", ").truncate(20) %></small>
</div>
