<div class="container">
  <h1>Album Search</h1>
  <%= form_with url: root_path, method: :get, html: {class: "mb-4"} do |f| %>
    <%= f.label :query, "Type to search Albums on Spotify" %>
    <%= f.text_field :query,
                    class: "form-control",
                    value: params[:query]
                    %>
  <% end %>

  <% if @albums %>
    <div class="my-3">
      <div class="card-grid">
        <% @albums.each do |album|  %>
            <%= render 'album', album: album %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
