<div class="container">
<h1><%= @album.name %></h1>
<p>Track listing:</p>
  <ol>
    <% @album.tracks.each do |track| %>
      <div>
        <li><%= track.name %></li>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.id%>" width="50%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    <% end %>
  </ol>
</div>

